/* ---- HEADER - NAVBAR ---- */

.navbar {
    img {
        width: 10rem;
        height: 3rem;
    }
}
.nav-colors {
    background-color: #114b5f;
    color: white;
}

.nav-toggle-button-color {
    background-color: #296c82;
    color: #2d738a;
}

.font-family-nav {
    font-family: "Aleo", serif;
}